@import './color.scss';

#callback {
    #callback-content {
        display:flex;
        justify-content: space-between;
        flex-direction: column;

        .scopeprint {
            padding: 1rem;
        }

        .prettyprint {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }
    }
}