$blue: #2E4272;
$lightest-blue: #4F628E;
$darkest-blue: #7887AB;
$bg-grey: #ececec;

.wrapper {
    background-color: $bg-grey;
    display: flex;
    height:100vh;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-between;
    background: $bg-grey url('./assets/logo_marianne.png') no-repeat right 5% bottom fixed;

    header {
        nav {
            display: flex;
            justify-content: flex-end;

            .navigation {
                padding: 15px;
            }
        }
    }

    section {
        margin: 10px auto;
        padding: 15px;

        div {
            padding: 10px;
        }
    }

    footer {
        padding: 0 25px 10px;
    }
}

.text-right {
    text-align: right;  
}

.text-center {
    text-align: center;  
}

.text-left {
    text-align: left;  
}