$blue: #2E4272;
$lightest-blue: #4F628E;
$darkest-blue: #7887AB;
$bg-grey: #ececec;

.wrapper {
    background-color: $bg-grey;
    display: flex;
    min-height:100vh;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-between;
    background: $bg-grey url('./assets/logo_marianne.png') no-repeat right 5% bottom fixed;

    header {
        nav {
            display: flex;
            justify-content: flex-end;

            .navigation {
                padding: 15px;
            }
        }
    }

    section {
        margin: 10px auto;
        padding: 15px;

        h1 {
            padding: 10px;
        }

        .content {
            padding: 10px;

            table {
                min-width: 100%;
                width: 100%;
                border-collapse: collapse;
                box-sizing: border-box;

                thead {
                    th, td {
                        padding: .75rem;
                    }
                }

                tbody {
                    tr:first-child {
                        th, td {
                            border-top: 3px solid #dee2e6;
                        }
                    }

                    th {
                        width: 20%;
                    }

                    td {
                        width: 40%;

                        &.mandatory::after {
                            content: " *";
                        }
                    }

                    th, td {
                        padding: .75rem;
                        vertical-align: top;
                        border-top: 1px solid #dee2e6;
                    }
                }

                &.table-dark {
                    color: #fff;
                    background-color: #212529;

                    &.table-striped tr:nth-of-type(odd) {
                        background-color: rgba(255,255,255,.05);
                    }
                }
            }
        }
    }

    footer {
        padding: 0 25px 10px;
    }
}

.text-right {
    text-align: right;  
}

.text-center {
    text-align: center;  
}

.text-left {
    text-align: left;  
}